
/*RESET*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Athiti', sans-serif;
	font-size: 16px;
}

/*Fonts
font-family: 'IM Fell French Canon SC', serif; // for brand
font-family: 'Cedarville Cursive', cursive; // for styling
font-family: 'Athiti', sans-serif; // for the whole page*/


/**************************/
/*       SITE STYLES      */
/**************************/
body{
	background-color: #FFFFFF;
}

a:hover {
	color: #E85646!important;
}

.border-bottom {
	border-bottom: 1px solid #dfe6e9;
}



/**************************/
/*      NAVIGATION        */
/**************************/
header { 
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

nav {
	background-color: #FFFFFF;
	opacity: .90;
	width: 100%;
	height: 85px;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brand {
	flex: 1;
	padding-left: 50px;
}

.brand a {
	font-size: 24px;
	font-weight : 800;
	color: #111;
}

.fa-suitcase {
	font-size: 24px;
	padding-right: 10px
}

.navigation {
	flex: 2;
	padding-right: 50px;
}

.navigation ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navigation a {
	padding-left: 30px;
	color: #57606f;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
}

.navigation a:hover {
	text-decoration: underline;
}



/**************************/
/*       MAIN BODY        */
/**************************/
.main-body {
	width: 100%;
	margin-top: 85px;
}



/**************************/
/*      MAIN HEADER       */
/**************************/

/* Slideshow container */
.slideshow-container {
	margin: 0 auto;
	width: 100%;
	height: 750px;
	max-height: 750px;
	position: relative;
	overflow: hidden!important;
}

.main-header {
	margin: 0 auto;
	width: 100%;
	height: 750px;
	max-height: 750px;	
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden!important;
	box-sizing: border-box;
	text-align: center;


	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-header img {
	width: 100%;	/*vertical-align: middle;*/
}

.main-header-az {
	background-image: url(../img/Arizona3.jpeg);
}

.main-header-ny {
	background-image: url(../img/NewYork3.jpeg);
}

.main-header-sf {
	background-image: url(../img/SanFrancisco3.jpeg);\
}

.title {
	z-index: 3;
	font-size: 100px;
	/*position: absolute;*/
	/*top: 28%;*/
	color: #ffffff;
	font-family: 'IM Fell French Canon SC', serif;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px #2d3436;
}

/*.title {
	display: flex;
	justify-content: center;
	align-items: center;
}*/

.headline-p {
	width: 80%;
	max-width: 1000px;
	margin: 60px auto;
}

.headline-p p {
	font-size: 18px;	
	font-weight: 600;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dots {
	margin-top: 20px;
	text-align: center;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.slides {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}




/**************************/
/*    FEATUERED CITIES    */
/**************************/
#featured-cities {
	width: 80%;
	max-width: 1000px;
	margin: 40px auto;
}

.city {
	width: 100%;
	box-sizing: border-box;
}

.city h1 {
	padding: 40px 0;
	color: #111;
	font-size: 70px;
	text-align: center;
	text-transform: uppercase;
}

.city-row {
	width: 100%;
	padding-bottom: 70px;
	box-sizing: border-box;
	display: flex;
	box-sizing: border-box;
	text-align: center;
}

.city-box {
	border: 1px solid #dfe6e9;
	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 12px -1px rgba(181,177,181,1);
-moz-box-shadow: 0px 2px 12px -1px rgba(181,177,181,1);
box-shadow: 0px 2px 12px -1px rgba(181,177,181,1);
}

.city-box-left {
	margin-right: 20px;
}

.city-box-right {
	margin-left: 20px;
}

.city-box p {
	padding: 15px 10px 20px 10px;
	font-family: 'Cedarville Cursive', cursive; 
	font-size: 24px;
	font-weight: 800;
}

.city-box img {
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}


/**************************/
/*         TEAM           */
/**************************/



/**************************/
/*        FOOTER          */
/**************************/
